/*~~~~~~~~~~~~~~~~ original doc ~~~~~~~~~~~~~~~~ */

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


/*~~~~~~~~~~~~~~~~ my css ~~~~~~~~~~~~~~~~ */

/* --------------------   image enlarge   ------------------------------- */

.enlarge {
  width: 60%;
  transition: all .2s ease-in-out;
}


img.img-zoom {
    max-width: 70%;
    border-radius: 2px;
    z-index: 4;
    box-shadow: 0.5px 0.5px 2px black;
    
}

img.img-zoom:hover {
    margin-top: 10%;
    margin-bottom: 10%;
    padding-bottom: 1px;
    
}


  .img-zoom {
    z-index: +1;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}
 
.transition {
    -webkit-transform: scale(1.8); 
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
}


/*~~~~~~~~~~~~~~~~ helpful css ~~~~~~~~~~~~~~~~ */





.overwrite {
  display: initial;

}

.center {
  text-align: center;
  align-items: center;
  align-content: center;
}

/*~~~~~~~~~~~~~~~~ nav ~~~~~~~~~~~~~~~~ */


.navi {
color: white;
 }

 .lastnav {
  margin-right: 10%;
 }

  img.logo {
    width: 200px;
    height: 150px;

  }

  .active {
    background-color: rgba(255,255,255, 0.2);

  }


/*~~~~~~~~~~~~~~~~ mobile nav and top headings media screens ~~~~~~~~~~~~~~~~ */ 



.mobile-nav:hover {

      background-color: #aa00ff;

      }

 @media only screen 
 and (max-width : 5000px)
 and (min-width : 769px)  {
     
     .mobile-nav {

      display: none;

      }

}

 @media only screen 
 and (max-width : 768px)
 and (min-width : 10px)  {
     
     .navi {

      display: none;

      }

}

 
 /*~~~~~~~~~~~~~~~~ buttons ~~~~~~~~~~~~~~~~ */


.btn:hover, .btn-large:hover {
    background-color: #aa00ff;
}

.btn {
  background-color: rgba(255,255,255, 0.2);
  border-radius: 0px;
}

.btn-large {
    background-color: rgba(255,255,255, 0.2);
  border-radius: 0px;

}

.btn-large:hover {

   background-color: #aa00ff;
}

#fileRequest:hover {

   background-color: #aa00ff;
}

#fileRequest {

  margin-left: 25%;
   margin-right: 25%;

}

#fileRequest2 {

   margin-bottom: 0%;
}



#topButton:hover {

   background-color: #aa00ff;

}

#topButton{
box-shadow: none;
}

#bodyButton {
  background-color: rgb(143, 79, 232);
    padding-left: 7%;
    padding-right: 7%;
        font-size: 90%;
    margin-right: 2%;
    margin-left: 2%;

}

#bodyButton:hover {
    background-color: #aa00ff;


}

 @media only screen 
 and (max-width : 768px)
 and (min-width : 10px)  {
     
    #bodyButton {
    font-size: 90%;

    }

}

  .downloadButton {
    margin-top: 5%;
    margin-right: 10%;
  }

   @media only screen 
 and (max-width : 768px)
 and (min-width : 10px)  {
     
      .downloadButton {

    margin-right: 10%;
  } 

}



 /*~~~~~~~~~~~~~~~~ top heading ~~~~~~~~~~~~~~~~ */

 #heroText {
  font-family: "Open Sans", "helvetica";
 }

 @media only screen and (max-width : 600px) {
  #heroText {
    font-size: 2em;
  }

  #heroSub {
    font-size: 1.5em;
  }
}



#Start {
  -webkit-transition: all 0.5s ease;
}

#navGhost {
  display: none;
}


  /*~~~~~~~~~~~~~~~~ logo ~~~~~~~~~~~~~~~~ */



  @media only screen and (max-width : 5000px)
  and (min-width : 2025px)  {
     #logo {

     height: 275%;
    z-index: 2;
  }

}





 @media only screen and (max-width : 2000px)
  and (min-width : 1025px)  {
     #logo {

     height: 200%;
    z-index: 2;
  }

}


  @media only screen and (max-width : 1102px)
  and (min-width : 770px) {
     #logo {
     height: 175%;
    z-index: 2;
  }

}

  @media only screen and (max-width : 769px) {
     #logo {

     height: 200%;
    margin-left: 32%;
    z-index: 2;
  }

}

  @media only screen and (max-width : 426px)
  and (min-width: 376px) {
     #logo {

     height: 200%;
    margin-left: 19%;
    z-index: 2;
  }

}

 @media only screen and (max-width : 376px)
 and (min-width: 321px) {
     #logo {

     height: 200%;
    margin-left: 16%;
    z-index: 2;
  }

}

 @media only screen and (max-width : 320px) {
     #logo {

     height: 200%;
    margin-left: 9%;
    z-index: 2;
  }

}

  /*~~~~~~~~~~~~~~~~ body ~~~~~~~~~~~~~~~~ */

  .fontText1 {

      font-family: "Open Sans", "helvetica";

  }

#newsButton:hover {
  background-color: rgb(143, 79, 232);
  color:white;
}

#newsButton {
  margin-right: 20%;
  margin-left: 35%;
}

#back2top {

   margin-right: 20%;
  margin-left: 25%;

}

 @media only screen 
 and (max-width : 5500px)
 and (min-width : 767px)  {
     


}

#factsButton {
  background-color: rgba(76,175,80, .8);
  color: white;
}
#factsButton2 {
  background-color: rgba(76,175,80, .8);
  color: white;
}

#factsButton:hover {
    color: #4CAF50;
  background-color: rgba(255, 255, 255, .8);

}

#factsButton2:hover {
    color: #4CAF50;
  background-color: rgba(255, 255, 255, .8);

}



    /*~~~~~~~~~~~~~~~~ Tabs ~~~~~~~~~~~~~~~~ */


    /*~~~~~~~~~~~~~~~~ live news tab ~~~~~~~~~~~~~~~~ */
 /*~~~~~~~~~~~~~~~~ news scroll box ~~~~~~~~~~~~~~~~ */

.tabs .tab, .tabs .tab a.active {
    background-color: transparent !important;
    color: #aa00ff !important;
}

.tabs .tab , .tabs .tab {
    background-color: transparent;
    color: #aa00ff !important;
}

div.indicator {
  background-color: #aa00ff !important;
}

.tabs .indicator{
    background-color: #aa00ff !important;

}

.tabs .tab a {
color: #aa00ff !important;
}

.tabs .tab a:hover {
  background-color: #aa00ff !important;
  color: white !important;
}


    /*~~~~~~~~~~~~~~~~ laws tab ~~~~~~~~~~~~~~~~ */

.tableTextWhite {
  color: white; 
}


 /*~~~~~~~~~~~~~~~~ q n a  tab ~~~~~~~~~~~~~~~~ */





 @media only screen 
 and (max-width : 768px)
 and (min-width : 10px)  {
     
    .hideOnMobile {

      display: none !important;

      }

}

 @media only screen 
 and (max-width : 5500px)
 and (min-width : 767px)  {
     
    .hideLarge {

      display: none !important; 

      }

}





    /*~~~~~~~~~~~~~~~~ footer ~~~~~~~~~~~~~~~~ */

footer.page-footer {
  background-color: rgb(143, 79, 232);
}

.footHover:hover {
  background-color: rgba(0, 0, 0, .2);
}


 /*~~~~~~~~~~~~~~~~ stuff ~~~~~~~~~~~~~~~~ */

.finePrint {
  color:#dad1ed;
  font-size: .8em;

}

.purpBG {

 background-color: rgb(143, 79, 232);

}


.purp {

 color: rgb(143, 79, 232);

}

.purpFont {

 color: rgb(143, 79, 232);

}

.whiteFont {
  color: white;
}